/* select body */
body {
    font-family: Vesper Libre;
    color: #1a1a1a;
    line-height: 1.5;
    margin: 0;  
}
/* select header and footer */
header, footer {
    background-color: #000;
    color: #fff;
    text-align: center;
}
/*Select the appropriate tag for image*/
.nominees_poster_image{
    width: 100%;
}

/* Target the logo in the header using an ID
-- for some reason this line of code de-centers the title*/
.logo {
    width: 100px;
    padding-top: 8px;
    display: inline-block;
}
/* Select the main element*/
main {
    padding: 20px;
}
/* Select h1*/
h1 {
    font-size: 2rem;
    line-height: 1.3;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/* Target the article category 'News' using a class*/
.News {
    display: inline-block;
    text-transform: uppercase;
    font-size: .85rem;
    border-bottom: 2px solid #ff3530;
}
/* Select figcaption, article category, sub-title, author, date and h2*/
    /*what does it mean by article category? google fonts not installed properly?*/
.figcaption,.sub_title,.Author_and_Date,h2 {
    font-family: Open Sans;
}
/* Select author and date*/
.Author_and_Date {
    font-size: .85rem;
    margin-bottom: 0;
}
/* Select figure*/
figure {
    margin:1.25rem 0rem;
}
/* Select the caption under the image
the italic transforms it into bold*/
.figcaption {
    font-size: .75rem;
    text-align: center;
    color: #757575;
    font-weight: normal;/*this isn't working*/
    font-style: italic;
}
/* Target the list of nominees
left alignment not working*/
.list {
    list-style: none;
    padding-left: 0;
}
/* Style links to*/
a {
    color: #1a1a1a;

}
a:hover {
    text-decoration: none;
    color: #ff3530; /* can't get color to change*/
}